Trini_APL_DashBoard.json
{
  "name": "Trini_APL_DashBoard",
  "nodes": [
    {
      "parameters": {
        "path": "4ac8bf20-3bcd-4891-9ee5-dc80ed690673",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        176
      ],
      "id": "858cf3f0-67cb-40d0-8fe5-e0aec95b9ca8",
      "name": "Webhook",
      "webhookId": "4ac8bf20-3bcd-4891-9ee5-dc80ed690673"
    },
    {
      "parameters": {
        "html": "{{ $json.html }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        448,
        176
      ],
      "id": "3e114a93-dcae-4ecb-bfba-c61fd336a5c0",
      "name": "HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        176
      ],
      "id": "5227476b-a48c-480a-83be-ee1d45ae90c8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1vuGJrk6arYQAL-TcU4To-AevUWaGQQ5IKOLr1_vNw5g/edit?gid=125280768#gid=125280768",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 125280768,
          "mode": "list",
          "cachedResultName": "Datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vuGJrk6arYQAL-TcU4To-AevUWaGQQ5IKOLr1_vNw5g/edit#gid=125280768"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        176
      ],
      "id": "47290beb-1aa6-4c9d-a315-ff78bd940c5a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dNM9AAlh7KC7mn0E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * NORMALIZACIÓN (Run Once for All Items)\n * Input: items desde Google Sheets\n * Output: array de items normalizados -> [{ json: { ... } }, ...]\n */\n\nconst items = $input.all();\n\n/* -------- utilidades -------- */\nfunction normalizeKey(key) {\n  return (key || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/\\p{Diacritic}/gu, \"\") // quita acentos\n    .replace(/[^a-z0-9_ ]/g, \"\")\n    .replace(/\\s+/g, \"_\");\n}\n\nfunction parseDate(v) {\n  if (!v) return null;\n\n  if (typeof v === \"string\") {\n    const s = v.trim();\n\n    // DD/MM/YYYY\n    let m = s.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{2,4})$/);\n    if (m) {\n      const [, d, mo, y] = m;\n      const year = y.length === 2 ? Number(`20${y}`) : Number(y);\n      return new Date(year, Number(mo) - 1, Number(d));\n    }\n\n    // YYYY-MM-DD o DD-MM-YYYY\n    m = s.match(/^(\\d{4})\\-(\\d{1,2})\\-(\\d{1,2})$/); // 2025-11-20\n    if (m) {\n      const [, y, mo, d] = m;\n      return new Date(Number(y), Number(mo) - 1, Number(d));\n    }\n\n    m = s.match(/^(\\d{1,2})\\-(\\d{1,2})\\-(\\d{2,4})$/); // 20-11-2025\n    if (m) {\n      const [, d, mo, y] = m;\n      const year = y.length === 2 ? Number(`20${y}`) : Number(y);\n      return new Date(year, Number(mo) - 1, Number(d));\n    }\n\n    const t = Date.parse(s);\n    if (!Number.isNaN(t)) return new Date(t);\n  }\n\n  if (v instanceof Date) return v;\n  if (typeof v === \"number\") return new Date(v);\n  return null;\n}\n\nfunction toISODate(d) {\n  const pad = (n) => String(n).padStart(2, \"0\");\n  return `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())}`;\n}\n/* -------------------------------- */\n\nconst out = items.map((it) => {\n  const rec = it.json ?? it; // seguridad\n\n  // Normalizo nombres de columnas\n  const m = {};\n  for (const k of Object.keys(rec)) {\n    m[normalizeKey(k)] = rec[k];\n  }\n\n  // Fecha (viene en columna \"fecha_hora\")\n  const d = parseDate(m.fecha_hora ?? m.fecha);\n  const fecha_iso = d ? toISODate(d) : null;\n  const fecha_ts = d ? d.getTime() : null;\n\n  // Numéricos\n  const consumo_kwh = m.consumo_kwh ? Number(m.consumo_kwh) : 0;\n  const m2_disponibles = m.m2_disponibles ? Number(m.m2_disponibles) : 0;\n  const row_number = m.row_number ? Number(m.row_number) : null;\n\n  return {\n    json: {\n      // claves básicas\n      row_number,\n      fecha_hora: m.fecha_hora ?? null,\n      fecha: fecha_iso,  // normalizada para filtros\n      fecha_ts,          // timestamp para ordenar\n\n      id_conversacion: m.id_conversacion ?? \"\",\n      tipo_solucion: m.tipo_solucion ?? \"\",\n      tipo_producto: m.tipo_producto ?? \"\",\n      ubicacion: m.ubicacion ?? \"\",\n      categoria_tarifa: m.categoria_tarifa ?? \"\",\n      consumo_kwh,\n      tipo_instalacion: m.tipo_instalacion ?? \"\",\n      tipo_techo: m.tipo_techo ?? \"\",\n      m2_disponibles,\n\n      nombre_cliente: m.nombre_cliente ?? \"\",\n      telefono: m.telefono ?? \"\",\n      email: m.email ?? \"\",\n      horario_contacto: m.horario_contacto ?? \"\",\n\n      estado_lead: m.estado_lead ?? \"\",\n      kit_sugerido: m.kit_sugerido ?? \"\",\n      notas: m.notas ?? \"\",\n      mensaje_actual: m.mensaje_actual ?? \"\",\n      respuesta_ai: m.respuesta_ai ?? \"\",\n\n      // por si después necesitás el registro completo original\n      _raw: rec,\n    },\n  };\n});\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        176
      ],
      "id": "1e15c535-31c5-4042-b902-0232d28fbebb",
      "name": "Normalizacion de datos"
    },
    {
      "parameters": {
        "jsCode": "/**\n * PROCESAR DATOS (Run Once for All Items)\n * Input: items normalizados (con campos: fecha, fecha_ts, tipo_solucion, etc.)\n * Output: Objeto anidado por segmento (tipo_solucion)\n */\n\nconst items = $input.all(); // cada item = { json: {...} }\n\n// --- Funciones de Fecha ---\nfunction endOfDay(d){ return new Date(d.getFullYear(), d.getMonth(), d.getDate(), 23, 59, 59, 999); }\nfunction startOfDay(d){ return new Date(d.getFullYear(), d.getMonth(), d.getDate(),  0,  0,  0,   0); }\nfunction startOfMonth(d){ return new Date(d.getFullYear(), d.getMonth(), 1); }\nfunction formatDate(d){ return d ? d.toLocaleDateString() : \"\"; }\nfunction toMidnight(d){ return new Date(d.getFullYear(), d.getMonth(), d.getDate()); }\n// --------------------------\n\n// --- Definición de rangos relativos a \"hoy\" ---\nconst now = new Date();\nconst todayStart = startOfDay(now);\nconst todayEnd   = endOfDay(now);\nconst monthStart = startOfMonth(now);\nconst monthEnd   = endOfDay(now);\n\nconst sevenDaysStart   = startOfDay(new Date(now.getFullYear(), now.getMonth(), now.getDate() - 6));\nconst thirtyDaysStart  = startOfDay(new Date(now.getFullYear(), now.getMonth(), now.getDate() - 29));\nconst sixtyDaysStart   = startOfDay(new Date(now.getFullYear(), now.getMonth(), now.getDate() - 59));\nconst rollingEnd       = todayEnd;\n// --------------------------------------------------\n\n// Normalizar input -> fecha, consumo y estado\nconst recs = items\n  .map(it => it.json || it)\n  .filter(r => r.fecha_ts || r.fecha)   // usa fecha_ts o fecha (string YYYY-MM-DD)\n  .map(r => {\n    // si hay fecha_ts la usamos, si no, construimos Date desde fecha\n    let d = r.fecha_ts\n      ? new Date(Number(r.fecha_ts))\n      : (r.fecha ? new Date(r.fecha) : null);\n\n    if (d) d = toMidnight(d);\n\n    const segmento   = r.tipo_solucion || \"(Sin segmento)\";\n    const consumo    = Number(r.consumo_kwh || 0);\n    const estadoNorm = (r.estado_lead || \"\").toString().trim().toLowerCase();\n\n    return {\n      ...r,\n      segmento,        // Hogares / Campos / Industrias\n      _date: d,        // fecha normalizada\n      _consumo: consumo,\n      _estado: estadoNorm // \"caliente\" / \"tibio\" / \"frio\" (si apareciera)\n    };\n  })\n  .filter(r => r._date);\n\n// --- Función de agregación para un rango de fechas ---\nfunction aggregate(rangeStart, rangeEnd, subset) {\n  // Filas detalladas para tablas\n  const rows = subset.map(r => ({\n    fecha: formatDate(r._date),\n    segmento: r.segmento,\n    tipo_producto: r.tipo_producto || \"\",\n    ubicacion: r.ubicacion || \"\",\n    categoria_tarifa: r.categoria_tarifa || \"\",\n    consumo_kwh: r._consumo,\n    estado_lead: r.estado_lead || \"\",\n    kit_sugerido: r.kit_sugerido || \"\",\n    nombre_cliente: r.nombre_cliente || \"\",\n    m2_disponibles: r.m2_disponibles || \"\",\n    tipo_instalacion: r.tipo_instalacion || \"\",\n    tipo_techo: r.tipo_techo || \"\",\n    telefono: r.telefono || \"\",\n    email: r.email || \"\",\n    horario_contacto: r.horario_contacto || \"\",\n    notas: r.notas || \"\",\n    mensaje_actual: r.mensaje_actual || \"\",\n    respuesta_ai: r.respuesta_ai || \"\"\n  }));\n\n  const totalLeads   = subset.length;\n  const totalConsumo = subset.reduce((a,b) => a + (b._consumo || 0), 0);\n  const avgConsumo   = totalLeads ? Number((totalConsumo / totalLeads).toFixed(1)) : 0;\n\n  let maxConsumo = 0;\n  let minConsumo = totalLeads ? subset[0]._consumo : 0;\n  for (const r of subset) {\n    if (r._consumo > maxConsumo) maxConsumo = r._consumo;\n    if (r._consumo < minConsumo) minConsumo = r._consumo;\n  }\n\n  const calientes = subset.filter(r => r._estado === \"caliente\").length;\n  const tibios    = subset.filter(r => r._estado === \"tibio\").length;\n  const frios     = totalLeads - calientes - tibios;\n\n  // Distribución por tipo_producto\n  const prodMap = new Map();\n  for (const r of subset) {\n    const k = r.tipo_producto || \"(Sin producto)\";\n    prodMap.set(k, (prodMap.get(k) || 0) + 1);\n  }\n  const byProduct = [...prodMap.entries()].map(([tipo_producto, value]) => ({ tipo_producto, value }));\n\n  // Leads por día\n  const dayMap = new Map();\n  for (const r of subset) {\n    const key = r._date.toISOString();\n    const it = dayMap.get(key) || { date: new Date(r._date), leads: 0, consumoTotal: 0 };\n    it.leads        += 1;\n    it.consumoTotal += r._consumo;\n    dayMap.set(key, it);\n  }\n  const byDay = [...dayMap.values()]\n    .sort((a,b) => a.date - b.date)\n    .map(x => ({\n      date: formatDate(x.date),\n      leads: x.leads,\n      consumo_promedio: Number((x.consumoTotal / x.leads).toFixed(1))\n    }));\n\n  // Leads por segmento\n  const segMap = new Map();\n  for (const r of subset) {\n    const k = r.segmento;\n    const it = segMap.get(k) || { segmento: k, leads: 0, consumoTotal: 0 };\n    it.leads        += 1;\n    it.consumoTotal += r._consumo;\n    segMap.set(k, it);\n  }\n  const bySegment = [...segMap.values()]\n    .map(x => ({\n      segmento: x.segmento,\n      leads: x.leads,\n      consumo_promedio: x.leads ? Number((x.consumoTotal / x.leads).toFixed(1)) : 0\n    }))\n    .sort((a,b) => b.leads - a.leads);\n\n  return {\n    label: rangeStart.toLocaleDateString(undefined, { month: 'long', year: 'numeric' }),\n    rangeStart: formatDate(rangeStart),\n    rangeEnd: formatDate(rangeEnd),\n    kpis: {\n      totalLeads,\n      totalConsumo,\n      avgConsumo,\n      maxConsumo,\n      minConsumo,\n      calientes,\n      tibios,\n      frios,\n      tasaCaliente: totalLeads ? Number(((calientes / totalLeads) * 100).toFixed(1)) : 0,\n      tasaTibio:    totalLeads ? Number(((tibios    / totalLeads) * 100).toFixed(1)) : 0,\n      tasaFrio:     totalLeads ? Number(((frios     / totalLeads) * 100).toFixed(1)) : 0,\n    },\n    byDay,\n    bySegment,\n    byProduct,\n    rows,\n  };\n}\n// ---------------------------------\n\n// --- Lógica de bucle por \"segmento\" (tipo_solucion) ---\n\n// 1. Lista única de segmentos\nconst allSegments = ['Todos', ...new Set(recs.map(r => r.segmento))].sort();\n\n// 2. Objeto final\nconst finalData = {\n  meta: {\n    generatedAt: new Date().toISOString(),\n    allSegments\n  }\n};\n\n// 3. Iterar por cada segmento (incluyendo \"Todos\")\nfor (const segName of allSegments) {\n\n  const segRecs = (segName === 'Todos')\n    ? recs\n    : recs.filter(r => r.segmento === segName);\n\n  const monthlySubset        = segRecs.filter(r => r._date >= monthStart      && r._date <= monthEnd);\n  const dailySubset          = segRecs.filter(r => r._date >= todayStart      && r._date <= todayEnd);\n  const weeklySubset         = segRecs.filter(r => r._date >= sevenDaysStart  && r._date <= rollingEnd);\n  const rollingMonthlySubset = segRecs.filter(r => r._date >= thirtyDaysStart && r._date <= rollingEnd);\n  const rollingSixtySubset   = segRecs.filter(r => r._date >= sixtyDaysStart  && r._date <= rollingEnd);\n\n  const monthly        = aggregate(monthStart,      monthEnd,      monthlySubset);\n  const daily          = aggregate(todayStart,      todayEnd,      dailySubset);\n  const weekly         = aggregate(sevenDaysStart,  rollingEnd,    weeklySubset);\n  const rollingMonthly = aggregate(thirtyDaysStart, rollingEnd,    rollingMonthlySubset);\n  const rollingSixtyDay= aggregate(sixtyDaysStart,  rollingEnd,    rollingSixtySubset);\n\n  finalData[segName] = {\n    daily,\n    weekly,\n    rollingMonthly,\n    rollingSixtyDay,\n    monthly\n  };\n}\n\n// 4. Devolver estructura final\nreturn [{\n  json: finalData\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7d7951c4-479f-41c8-a51b-bff6e0dee220",
      "name": "Consolidacion de las variables Diario / Mes"
    },
    {
      "parameters": {
        "jsCode": "/**\n * HTML (Run Once for All Items) – Dashboard Segmentos ALP Group\n * Input : [{ json: finalData }]\n * Output: [{ json: { html } }]\n */\n\nconst input = ($input.first() || {}).json || {};\n\n// --- SafePack para estructura de segmentos ---\nfunction safePack(p = {}) {\n  return {\n    label: p.label || \"\",\n    rangeStart: p.rangeStart || \"\",\n    rangeEnd: p.rangeEnd || \"\",\n    kpis: {\n      totalLeads: Number(p?.kpis?.totalLeads || 0),\n      totalConsumo: Number(p?.kpis?.totalConsumo || 0),\n      avgConsumo: Number(p?.kpis?.avgConsumo || 0),\n      maxConsumo: Number(p?.kpis?.maxConsumo || 0),\n      minConsumo: Number(p?.kpis?.minConsumo || 0),\n      calientes: Number(p?.kpis?.calientes || 0),\n      tibios: Number(p?.kpis?.tibios || 0),\n      frios: Number(p?.kpis?.frios || 0),\n      tasaCaliente: Number(p?.kpis?.tasaCaliente || 0),\n      tasaTibio: Number(p?.kpis?.tasaTibio || 0),\n      tasaFrio: Number(p?.kpis?.tasaFrio || 0),\n    },\n    byDay: Array.isArray(p.byDay) ? p.byDay : [],\n    bySegment: Array.isArray(p.bySegment) ? p.bySegment : [],\n    byProduct: Array.isArray(p.byProduct) ? p.byProduct : [],\n    rows: Array.isArray(p.rows) ? p.rows : [],\n  };\n}\n\n// Procesamos estructura de segmentos\nconst DATA = {\n  meta: input.meta || { allSegments: ['Todos'] }\n};\n\nfor (const segKey of (DATA.meta.allSegments || ['Todos'])) {\n  if (input[segKey]) {\n    DATA[segKey] = {\n      daily: safePack(input[segKey].daily),\n      weekly: safePack(input[segKey].weekly),\n      rollingMonthly: safePack(input[segKey].rollingMonthly),\n      rollingSixtyDay: safePack(input[segKey].rollingSixtyDay),\n      monthly: safePack(input[segKey].monthly),\n    };\n  }\n}\n\n// fallback si algo falló\nif (!DATA.Todos) {\n  DATA.Todos = {\n    daily: safePack(), weekly: safePack(),\n    rollingMonthly: safePack(), rollingSixtyDay: safePack(), monthly: safePack()\n  };\n}\n\nconst html = `<!doctype html>\n<html lang=\"es\">\n<head>\n<meta charset=\"utf-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n<title>Dashboard de Leads – ALP Group Argentina</title>\n<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n<style>\n  :root{--bg:#0a0a0a;--panel:#151515;--muted:#a3a3a3;--text:#e5e5e5;--border:#262626;--accent:#93c5fd;}\n  *{box-sizing:border-box}\n  body{margin:0;background:var(--bg);color:var(--text);font-family:Inter,system-ui,Arial,sans-serif}\n  .wrap{max-width:1200px;margin:0 auto;padding:28px;}\n  .grid{display:grid;gap:16px}\n  .grid-4{grid-template-columns:repeat(4,minmax(0,1fr))}\n  .grid-2{grid-template-columns:repeat(2,minmax(0,1fr))}\n  .card{background:var(--panel);border:1px solid var(--border);border-radius:16px;padding:16px}\n  .muted{color:var(--muted)}\n  .kpi{font-size:32px;font-weight:700;line-height:1.1;margin-top:4px}\n  .kpi-sub{font-size:14px;font-weight:500;color:var(--accent)}\n  .tabs{display:flex;gap:8px;border-bottom:1px solid var(--border);margin-bottom:16px;flex-wrap:wrap}\n  .tab{padding:10px 14px;border:1px solid var(--border);border-bottom:none;border-top-left-radius:10px;border-top-right-radius:10px;background:#0f0f0f;color:#d4d4d4;cursor:pointer;font-weight:600}\n  .tab.active{background:var(--panel);color:#fff;border-bottom:1px solid var(--panel)}\n  .panel{display:none}\n  .panel.active{display:block}\n  .plot{width:100%;height:260px}\n  .plot-gauge{width:100%;height:180px}\n  table{width:100%;border-collapse:collapse;font-size:13px}\n  thead{background:#1c1c1c;color:#cfcfcf}\n  th,td{padding:8px 10px;border-top:1px solid var(--border);vertical-align:top;text-align:left}\n  tr:hover{background:#1a1a1a}\n  .controls{display:flex;gap:8px;justify-content:space-between;align-items:center;margin-bottom:10px;flex-wrap:wrap}\n  .filter-bar{display:flex;gap:16px;flex-wrap:wrap}\n  .search,.segment-filter{\n    background:#0f0f0f;border:1px solid var(--border);color:var(--text);\n    border-radius:10px;padding:10px;flex-grow:1;min-width:160px;\n  }\n  .btn{background:#0f0f0f;border:1px solid var(--border);color:#fff;border-radius:10px;padding:6px 10px;cursor:pointer;font-size:12px}\n  .btn[disabled]{opacity:.5;cursor:not-allowed}\n  .table-wrap{overflow-x:auto;border:1px solid var(--border);border-radius:16px}\n  a{color:var(--accent);}\n</style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <header style=\"display:flex;justify-content:space-between;align-items:flex-end;gap:12px;margin-bottom:12px;flex-wrap:wrap;width:100%\">\n      <div>\n        <h1 style=\"margin:0;font-size:26px\">Dashboard de Leads – ALP Group Argentina</h1>\n        <div class=\"muted\" style=\"font-size:13px\">Generado: <span id=\"generatedAt\"></span></div>\n      </div>\n      <div class=\"filter-bar\" style=\"width:100%;max-width:650px;\">\n        <select id=\"segmentFilter\" class=\"segment-filter\"></select>\n        <input id=\"search\" class=\"search\" placeholder=\"Buscar (cliente, ubicación, notas…)\" />\n      </div>\n    </header>\n\n    <nav class=\"tabs\">\n      <button class=\"tab active\" data-target=\"#panel-daily\">Hoy</button>\n      <button class=\"tab\" data-target=\"#panel-weekly\">Últimos 7 días</button>\n      <button class=\"tab\" data-target=\"#panel-rolling-monthly\">Últimos 30 días</button>\n      <button class=\"tab\" data-target=\"#panel-rolling-sixty\">Últimos 60 días</button>\n      <button class=\"tab\" data-target=\"#panel-month\">Mes actual</button>\n    </nav>\n\n    <!-- ==== PANEL DIARIO ==== -->\n    <section id=\"panel-daily\" class=\"panel active\">\n      <div class=\"muted\" style=\"margin-bottom:8px\">Rango: <strong id=\"d_rangeStart\"></strong> → <strong id=\"d_rangeEnd\"></strong></div>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <div class=\"muted\">Total de leads</div>\n          <div class=\"kpi\" id=\"d_kpi_total\">—</div>\n          <div class=\"kpi-sub\">\n            Consumo total: <span id=\"d_kpi_totalConsumo\">—</span> kWh · Promedio: <span id=\"d_kpi_avgConsumo\">—</span> kWh\n          </div>\n        </div>\n        <div class=\"card\">\n          <div class=\"muted\">Estado de los leads</div>\n          <div class=\"kpi-sub\">Calientes / Tibios / Fríos</div>\n          <div class=\"kpi\" id=\"d_kpi_estado\">— / — / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-4\" style=\"margin-bottom:16px\">\n        <div class=\"card\"><div id=\"d_gauge_caliente\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"d_gauge_tibio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"d_gauge_frio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\">\n          <div class=\"muted\" style=\"margin-bottom:4px\">Consumo (kWh)</div>\n          <div class=\"kpi-sub\">Máx / Mín</div>\n          <div class=\"kpi\" id=\"d_kpi_consumo_extremos\">— / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por día y consumo promedio</h3>\n          <div id=\"d_line\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por segmento</h3>\n          <div id=\"d_bar_seg\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por tipo de producto</h3>\n          <div id=\"d_pie_product\" class=\"plot\"></div>\n        </div>\n      </section>\n      <section>\n        <div class=\"controls\">\n          <h2 style=\"margin:0\">Listado de leads (día)</h2>\n          <div>\n            <button id=\"d_prev\" class=\"btn\">Anterior</button>\n            <span class=\"muted\" id=\"d_pageInfo\" style=\"padding:0 8px\"></span>\n            <button id=\"d_next\" class=\"btn\">Siguiente</button>\n          </div>\n        </div>\n        <div class=\"table-wrap\">\n          <table id=\"d_tbl\">\n            <thead>\n              <tr>\n                <th>Fecha</th>\n                <th>Segmento</th>\n                <th>Tipo producto</th>\n                <th>Ubicación</th>\n                <th>Consumo (kWh)</th>\n                <th>Estado lead</th>\n                <th>Kit sugerido</th>\n                <th>Cliente</th>\n                <th>Teléfono</th>\n                <th>Email</th>\n                <th>Notas</th>\n              </tr>\n            </thead>\n            <tbody></tbody>\n          </table>\n        </div>\n      </section>\n    </section>\n\n    <!-- ==== PANEL 7 DÍAS ==== -->\n    <section id=\"panel-weekly\" class=\"panel\">\n      <div class=\"muted\" style=\"margin-bottom:8px\">Rango: <strong id=\"w_rangeStart\"></strong> → <strong id=\"w_rangeEnd\"></strong></div>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <div class=\"muted\">Total de leads</div>\n          <div class=\"kpi\" id=\"w_kpi_total\">—</div>\n          <div class=\"kpi-sub\">\n            Consumo total: <span id=\"w_kpi_totalConsumo\">—</span> kWh · Promedio: <span id=\"w_kpi_avgConsumo\">—</span> kWh\n          </div>\n        </div>\n        <div class=\"card\">\n          <div class=\"muted\">Estado de los leads</div>\n          <div class=\"kpi-sub\">Calientes / Tibios / Fríos</div>\n          <div class=\"kpi\" id=\"w_kpi_estado\">— / — / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-4\" style=\"margin-bottom:16px\">\n        <div class=\"card\"><div id=\"w_gauge_caliente\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"w_gauge_tibio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"w_gauge_frio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\">\n          <div class=\"muted\" style=\"margin-bottom:4px\">Consumo (kWh)</div>\n          <div class=\"kpi-sub\">Máx / Mín</div>\n          <div class=\"kpi\" id=\"w_kpi_consumo_extremos\">— / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por día y consumo promedio</h3>\n          <div id=\"w_line\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por segmento</h3>\n          <div id=\"w_bar_seg\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por tipo de producto</h3>\n          <div id=\"w_pie_product\" class=\"plot\"></div>\n        </div>\n      </section>\n      <section>\n        <div class=\"controls\">\n          <h2 style=\"margin:0\">Listado de leads (7 días)</h2>\n          <div>\n            <button id=\"w_prev\" class=\"btn\">Anterior</button>\n            <span class=\"muted\" id=\"w_pageInfo\" style=\"padding:0 8px\"></span>\n            <button id=\"w_next\" class=\"btn\">Siguiente</button>\n          </div>\n        </div>\n        <div class=\"table-wrap\">\n          <table id=\"w_tbl\">\n            <thead>\n              <tr>\n                <th>Fecha</th>\n                <th>Segmento</th>\n                <th>Tipo producto</th>\n                <th>Ubicación</th>\n                <th>Consumo (kWh)</th>\n                <th>Estado lead</th>\n                <th>Kit sugerido</th>\n                <th>Cliente</th>\n                <th>Teléfono</th>\n                <th>Email</th>\n                <th>Notas</th>\n              </tr>\n            </thead>\n            <tbody></tbody>\n          </table>\n        </div>\n      </section>\n    </section>\n\n    <!-- ==== PANEL 30 DÍAS ==== -->\n    <section id=\"panel-rolling-monthly\" class=\"panel\">\n      <div class=\"muted\" style=\"margin-bottom:8px\">Rango: <strong id=\"rm_rangeStart\"></strong> → <strong id=\"rm_rangeEnd\"></strong></div>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <div class=\"muted\">Total de leads</div>\n          <div class=\"kpi\" id=\"rm_kpi_total\">—</div>\n          <div class=\"kpi-sub\">\n            Consumo total: <span id=\"rm_kpi_totalConsumo\">—</span> kWh · Promedio: <span id=\"rm_kpi_avgConsumo\">—</span> kWh\n          </div>\n        </div>\n        <div class=\"card\">\n          <div class=\"muted\">Estado de los leads</div>\n          <div class=\"kpi-sub\">Calientes / Tibios / Fríos</div>\n          <div class=\"kpi\" id=\"rm_kpi_estado\">— / — / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-4\" style=\"margin-bottom:16px\">\n        <div class=\"card\"><div id=\"rm_gauge_caliente\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"rm_gauge_tibio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"rm_gauge_frio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\">\n          <div class=\"muted\" style=\"margin-bottom:4px\">Consumo (kWh)</div>\n          <div class=\"kpi-sub\">Máx / Mín</div>\n          <div class=\"kpi\" id=\"rm_kpi_consumo_extremos\">— / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por día y consumo promedio</h3>\n          <div id=\"rm_line\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por segmento</h3>\n          <div id=\"rm_bar_seg\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por tipo de producto</h3>\n          <div id=\"rm_pie_product\" class=\"plot\"></div>\n        </div>\n      </section>\n      <section>\n        <div class=\"controls\">\n          <h2 style=\"margin:0\">Listado de leads (30 días)</h2>\n          <div>\n            <button id=\"rm_prev\" class=\"btn\">Anterior</button>\n            <span class=\"muted\" id=\"rm_pageInfo\" style=\"padding:0 8px\"></span>\n            <button id=\"rm_next\" class=\"btn\">Siguiente</button>\n          </div>\n        </div>\n        <div class=\"table-wrap\">\n          <table id=\"rm_tbl\">\n            <thead>\n              <tr>\n                <th>Fecha</th>\n                <th>Segmento</th>\n                <th>Tipo producto</th>\n                <th>Ubicación</th>\n                <th>Consumo (kWh)</th>\n                <th>Estado lead</th>\n                <th>Kit sugerido</th>\n                <th>Cliente</th>\n                <th>Teléfono</th>\n                <th>Email</th>\n                <th>Notas</th>\n              </tr>\n            </thead>\n            <tbody></tbody>\n          </table>\n        </div>\n      </section>\n    </section>\n\n    <!-- ==== PANEL 60 DÍAS ==== -->\n    <section id=\"panel-rolling-sixty\" class=\"panel\">\n      <div class=\"muted\" style=\"margin-bottom:8px\">Rango: <strong id=\"rs_rangeStart\"></strong> → <strong id=\"rs_rangeEnd\"></strong></div>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <div class=\"muted\">Total de leads</div>\n          <div class=\"kpi\" id=\"rs_kpi_total\">—</div>\n          <div class=\"kpi-sub\">\n            Consumo total: <span id=\"rs_kpi_totalConsumo\">—</span> kWh · Promedio: <span id=\"rs_kpi_avgConsumo\">—</span> kWh\n          </div>\n        </div>\n        <div class=\"card\">\n          <div class=\"muted\">Estado de los leads</div>\n          <div class=\"kpi-sub\">Calientes / Tibios / Fríos</div>\n          <div class=\"kpi\" id=\"rs_kpi_estado\">— / — / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-4\" style=\"margin-bottom:16px\">\n        <div class=\"card\"><div id=\"rs_gauge_caliente\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"rs_gauge_tibio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"rs_gauge_frio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\">\n          <div class=\"muted\" style=\"margin-bottom:4px\">Consumo (kWh)</div>\n          <div class=\"kpi-sub\">Máx / Mín</div>\n          <div class=\"kpi\" id=\"rs_kpi_consumo_extremos\">— / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por día y consumo promedio</h3>\n          <div id=\"rs_line\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por segmento</h3>\n          <div id=\"rs_bar_seg\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por tipo de producto</h3>\n          <div id=\"rs_pie_product\" class=\"plot\"></div>\n        </div>\n      </section>\n      <section>\n        <div class=\"controls\">\n          <h2 style=\"margin:0\">Listado de leads (60 días)</h2>\n          <div>\n            <button id=\"rs_prev\" class=\"btn\">Anterior</button>\n            <span class=\"muted\" id=\"rs_pageInfo\" style=\"padding:0 8px\"></span>\n            <button id=\"rs_next\" class=\"btn\">Siguiente</button>\n          </div>\n        </div>\n        <div class=\"table-wrap\">\n          <table id=\"rs_tbl\">\n            <thead>\n              <tr>\n                <th>Fecha</th>\n                <th>Segmento</th>\n                <th>Tipo producto</th>\n                <th>Ubicación</th>\n                <th>Consumo (kWh)</th>\n                <th>Estado lead</th>\n                <th>Kit sugerido</th>\n                <th>Cliente</th>\n                <th>Teléfono</th>\n                <th>Email</th>\n                <th>Notas</th>\n              </tr>\n            </thead>\n            <tbody></tbody>\n          </table>\n        </div>\n      </section>\n    </section>\n\n    <!-- ==== PANEL MES ==== -->\n    <section id=\"panel-month\" class=\"panel\">\n      <div class=\"muted\" style=\"margin-bottom:8px\">Rango: <strong id=\"m_rangeStart\"></strong> → <strong id=\"m_rangeEnd\"></strong></div>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <div class=\"muted\">Total de leads</div>\n          <div class=\"kpi\" id=\"m_kpi_total\">—</div>\n          <div class=\"kpi-sub\">\n            Consumo total: <span id=\"m_kpi_totalConsumo\">—</span> kWh · Promedio: <span id=\"m_kpi_avgConsumo\">—</span> kWh\n          </div>\n        </div>\n        <div class=\"card\">\n          <div class=\"muted\">Estado de los leads</div>\n          <div class=\"kpi-sub\">Calientes / Tibios / Fríos</div>\n          <div class=\"kpi\" id=\"m_kpi_estado\">— / — / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-4\" style=\"margin-bottom:16px\">\n        <div class=\"card\"><div id=\"m_gauge_caliente\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"m_gauge_tibio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"m_gauge_frio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\">\n          <div class=\"muted\" style=\"margin-bottom:4px\">Consumo (kWh)</div>\n          <div class=\"kpi-sub\">Máx / Mín</div>\n          <div class=\"kpi\" id=\"m_kpi_consumo_extremos\">— / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por día y consumo promedio</h3>\n          <div id=\"m_line\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por segmento</h3>\n          <div id=\"m_bar_seg\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por tipo de producto</h3>\n          <div id=\"m_pie_product\" class=\"plot\"></div>\n        </div>\n      </section>\n      <section>\n        <div class=\"controls\">\n          <h2 style=\"margin:0\">Listado de leads (mes)</h2>\n          <div>\n            <button id=\"m_prev\" class=\"btn\">Anterior</button>\n            <span class=\"muted\" id=\"m_pageInfo\" style=\"padding:0 8px\"></span>\n            <button id=\"m_next\" class=\"btn\">Siguiente</button>\n          </div>\n        </div>\n        <div class=\"table-wrap\">\n          <table id=\"m_tbl\">\n            <thead>\n              <tr>\n                <th>Fecha</th>\n                <th>Segmento</th>\n                <th>Tipo producto</th>\n                <th>Ubicación</th>\n                <th>Consumo (kWh)</th>\n                <th>Estado lead</th>\n                <th>Kit sugerido</th>\n                <th>Cliente</th>\n                <th>Teléfono</th>\n                <th>Email</th>\n                <th>Notas</th>\n              </tr>\n            </thead>\n            <tbody></tbody>\n          </table>\n        </div>\n      </section>\n    </section>\n  </div>\n\n  <script src=\"https://cdn.plot.ly/plotly-2.35.2.min.js\"></script>\n  <script>\n    const DATA = ${JSON.stringify(DATA)};\n    const THEME_BG = '#151515';\n    const THEME_TEXT = '#e5e5e5';\n    const THEME_GRID = '#2a2a2a';\n    const THEME_ACCENT = '#93c5fd';\n\n    document.getElementById('generatedAt').textContent =\n      new Date(DATA.meta?.generatedAt || Date.now()).toLocaleString();\n\n    function setRanges(prefix, pack) {\n      if (document.getElementById(prefix + '_rangeStart')) {\n        document.getElementById(prefix + '_rangeStart').textContent = pack.rangeStart || '';\n        document.getElementById(prefix + '_rangeEnd').textContent   = pack.rangeEnd   || '';\n      }\n    }\n\n    function setMainKPIs(prefix, pack) {\n      const k = pack.kpis || {};\n      if (document.getElementById(prefix + '_kpi_total')) {\n        document.getElementById(prefix + '_kpi_total').textContent = k.totalLeads || 0;\n        if (document.getElementById(prefix + '_kpi_totalConsumo')) {\n          document.getElementById(prefix + '_kpi_totalConsumo').textContent = k.totalConsumo || 0;\n        }\n        if (document.getElementById(prefix + '_kpi_avgConsumo')) {\n          document.getElementById(prefix + '_kpi_avgConsumo').textContent = k.avgConsumo || 0;\n        }\n        if (document.getElementById(prefix + '_kpi_estado')) {\n          document.getElementById(prefix + '_kpi_estado').textContent =\n            (k.calientes || 0) + ' / ' + (k.tibios || 0) + ' / ' + (k.frios || 0);\n        }\n        if (document.getElementById(prefix + '_kpi_consumo_extremos')) {\n          document.getElementById(prefix + '_kpi_consumo_extremos').textContent =\n            (k.maxConsumo || 0) + ' / ' + (k.minConsumo || 0);\n        }\n      }\n    }\n\n    const baseLayout = (title='') => ({\n      title,\n      paper_bgcolor: THEME_BG,\n      plot_bgcolor: THEME_BG,\n      font: { color: THEME_TEXT },\n      margin: { l:40, r:20, t:40, b:40 },\n      xaxis: { gridcolor: THEME_GRID, zerolinecolor: THEME_GRID },\n      yaxis: { gridcolor: THEME_GRID, zerolinecolor: THEME_GRID },\n      legend: { orientation:'h', y:-0.2 },\n      hovermode: 'closest'\n    });\n\n    const config = { responsive:true, displaylogo:false, modeBarButtonsToRemove:['select2d','lasso2d'] };\n\n    function renderGauge(containerId, value, total, title) {\n      const el = document.getElementById(containerId);\n      if (!el) return;\n      const maxRange = total > 0 ? total : 1;\n      const layout = { ...baseLayout(), margin:{t:40,b:10,l:30,r:30}, height:180 };\n      const data = [{\n        type:'indicator', mode:'gauge+number', value: value || 0,\n        title:{ text:title, font:{size:14,color:'#a3a3a3'} },\n        number:{ font:{size:30,color:THEME_TEXT} },\n        gauge:{\n          axis:{ range:[0,maxRange], visible:false, tickwidth:0 },\n          bar:{ color:THEME_ACCENT, thickness:1 },\n          bgcolor:THEME_GRID, bordercolor:THEME_GRID, borderwidth:0\n        }\n      }];\n      Plotly.newPlot(el, data, layout, config);\n    }\n\n    function setGauges(prefix, pack) {\n      const k = pack.kpis || {};\n      const total = k.totalLeads || 0;\n      renderGauge(prefix + '_gauge_caliente', k.calientes, total, 'Calientes');\n      renderGauge(prefix + '_gauge_tibio',    k.tibios,    total, 'Tibios');\n      renderGauge(prefix + '_gauge_frio',     k.frios,     total, 'Fríos');\n    }\n\n    function renderLine(containerId, pack) {\n      const el = document.getElementById(containerId);\n      if (!el || !pack.byDay) return;\n      const dates = pack.byDay.map(d => d.date);\n      const leads = pack.byDay.map(d => d.leads);\n      const prom  = pack.byDay.map(d => d.consumo_promedio);\n      const tr1 = { x:dates, y:leads, type:'scatter', mode:'lines+markers', name:'Leads', marker:{ color:THEME_ACCENT } };\n      const tr2 = { x:dates, y:prom,  type:'scatter', mode:'lines+markers', name:'Consumo prom. (kWh)', yaxis:'y2', marker:{ color:'#f59e0b' } };\n      const layout = {\n        ...baseLayout(),\n        yaxis:{ title:'Leads', gridcolor:THEME_GRID, zerolinecolor:THEME_GRID },\n        yaxis2:{ title:'Consumo prom. (kWh)', overlaying:'y', side:'right', gridcolor:THEME_GRID, zerolinecolor:THEME_GRID }\n      };\n      Plotly.newPlot(el, [tr1,tr2], layout, config);\n    }\n\n    function renderBarSegments(containerId, pack, prefix) {\n      const el = document.getElementById(containerId);\n      if (!el || !pack.bySegment) return;\n      const labels = pack.bySegment.map(d => d.segmento);\n      const leads  = pack.bySegment.map(d => d.leads);\n      Plotly.newPlot(el, [{\n        x:labels, y:leads, type:'bar', name:'Leads', marker:{color:THEME_ACCENT}\n      }], baseLayout(''), config);\n\n      // click en barra => filtra tabla por segmento\n      el.on('plotly_click', (data) => {\n        if (data.points && data.points.length > 0) {\n          const segName = data.points[0].x;\n          if (tableControllers[prefix]) {\n            document.getElementById('search').value = segName;\n            tableControllers[prefix].filter(segName);\n          }\n        }\n      });\n    }\n\n    function renderProducts(containerId, pack) {\n      const el = document.getElementById(containerId);\n      if (!el || !pack.byProduct) return;\n      const labels = pack.byProduct.map(d => d.tipo_producto);\n      const values = pack.byProduct.map(d => d.value);\n      Plotly.newPlot(el, [{\n        labels, values, type:'pie', textinfo:'label+percent'\n      }], { ...baseLayout(''), legend:{orientation:'h',y:-0.1} }, config);\n    }\n\n    // -------- Tablas & filtros --------\n    const tableControllers = {};\n    const $search = document.getElementById('search');\n\n    function TableCtl(prefix, rows) {\n      const pageSize = 10;\n      let page = 1;\n      let allRows = rows.slice();\n      let filtered = rows.slice();\n      const $tbody = document.querySelector('#' + prefix + '_tbl tbody');\n      if (!$tbody) { console.error('No tbody for ' + prefix); return; }\n\n      function render() {\n        const pageCount = Math.max(1, Math.ceil(filtered.length / pageSize));\n        if (page > pageCount) page = pageCount;\n        const slice = filtered.slice((page-1)*pageSize, page*pageSize);\n\n        $tbody.innerHTML = slice.map(r => \\`\n          <tr>\n            <td>\\${r.fecha || ''}</td>\n            <td>\\${r.segmento || '—'}</td>\n            <td>\\${r.tipo_producto || '—'}</td>\n            <td>\\${r.ubicacion || '—'}</td>\n            <td>\\${r.consumo_kwh ?? ''}</td>\n            <td>\\${r.estado_lead || '—'}</td>\n            <td>\\${r.kit_sugerido || '—'}</td>\n            <td>\\${r.nombre_cliente || '—'}</td>\n            <td>\\${r.telefono || '—'}</td>\n            <td>\\${r.email || '—'}</td>\n            <td style=\"white-space:pre-wrap;max-width:420px\">\\${(r.notas || '').replace(/</g,'&lt;')}</td>\n          </tr>\n        \\`).join('');\n\n        document.getElementById(prefix + '_pageInfo').textContent =\n          \\`Página \\${page} de \\${pageCount} — \\${filtered.length} resultados\\`;\n\n        document.getElementById(prefix + '_prev').disabled = page <= 1;\n        document.getElementById(prefix + '_next').disabled = page >= pageCount;\n      }\n\n      function filter(searchTerm) {\n        const s = (searchTerm || '').toLowerCase();\n        filtered = !s ? allRows.slice() : allRows.filter(r => (\n          \\`\\${r.segmento} \\${r.tipo_producto} \\${r.ubicacion} \\${r.nombre_cliente} \\${r.telefono} \\${r.email} \\${r.estado_lead} \\${r.kit_sugerido} \\${r.notas} \\${r.mensaje_actual} \\${r.respuesta_ai}\\`\n        ).toLowerCase().includes(s));\n        page = 1;\n        render();\n      }\n\n      document.getElementById(prefix + '_prev').addEventListener('click', () => { page = Math.max(1, page-1); render(); });\n      document.getElementById(prefix + '_next').addEventListener('click', () => { page = page+1; render(); });\n\n      tableControllers[prefix] = { filter, render, allRows };\n      render();\n    }\n\n    function renderAll(prefix, pack) {\n      setRanges(prefix, pack);\n      setMainKPIs(prefix, pack);\n      setGauges(prefix, pack);\n      renderLine(prefix + '_line', pack);\n      renderBarSegments(prefix + '_bar_seg', pack, prefix);\n      renderProducts(prefix + '_pie_product', pack);\n      TableCtl(prefix, pack.rows);\n    }\n\n    function renderDashboardForSegment(segKey) {\n      $search.value = '';\n      const d = DATA[segKey];\n      if (!d) { console.error('No data for segment ' + segKey); return; }\n      renderAll('d',  d.daily);\n      renderAll('w',  d.weekly);\n      renderAll('rm', d.rollingMonthly);\n      renderAll('rs', d.rollingSixtyDay);\n      renderAll('m',  d.monthly);\n    }\n\n    function populateSegmentFilter() {\n      const $select = document.getElementById('segmentFilter');\n      if (!$select || !DATA.meta || !DATA.meta.allSegments) return;\n      $select.innerHTML = DATA.meta.allSegments\n        .map(seg => \\`<option value=\"\\${seg}\">\\${seg}</option>\\`)\n        .join('');\n    }\n\n    // Tabs\n    document.querySelectorAll('.tab').forEach(btn => {\n      btn.addEventListener('click', () => {\n        document.querySelectorAll('.tab').forEach(b => b.classList.remove('active'));\n        document.querySelectorAll('.panel').forEach(p => p.classList.remove('active'));\n        btn.classList.add('active');\n        const sel = btn.getAttribute('data-target');\n        document.querySelector(sel).classList.add('active');\n        setTimeout(() => window.dispatchEvent(new Event('resize')), 0);\n\n        const s = $search.value.trim().toLowerCase();\n        let panelId = sel.replace('#panel-', '');\n        let prefix;\n        if (panelId === 'daily') prefix = 'd';\n        else if (panelId === 'weekly') prefix = 'w';\n        else if (panelId === 'rolling-monthly') prefix = 'rm';\n        else if (panelId === 'rolling-sixty') prefix = 'rs';\n        else if (panelId === 'month') prefix = 'm';\n        if (prefix && tableControllers[prefix]) tableControllers[prefix].filter(s);\n      });\n    });\n\n    // Búsqueda global\n    $search.addEventListener('input', (e) => {\n      const s = e.target.value.trim().toLowerCase();\n      const activeTab = document.querySelector('.tab.active');\n      if (!activeTab) return;\n      const targetPanelId = activeTab.getAttribute('data-target');\n      let panelId = targetPanelId.replace('#panel-', '');\n      let prefix;\n      if (panelId === 'daily') prefix = 'd';\n      else if (panelId === 'weekly') prefix = 'w';\n      else if (panelId === 'rolling-monthly') prefix = 'rm';\n      else if (panelId === 'rolling-sixty') prefix = 'rs';\n      else if (panelId === 'month') prefix = 'm';\n      if (prefix && tableControllers[prefix]) tableControllers[prefix].filter(s);\n    });\n\n    // Selector de segmento\n    document.getElementById('segmentFilter').addEventListener('change', (e) => {\n      renderDashboardForSegment(e.target.value);\n    });\n\n    // Init\n    populateSegmentFilter();\n    renderDashboardForSegment('Todos');\n  </script>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "32dba70d-3964-432a-96fa-24367fb3af09",
      "name": "Creacion HTML"
    },
    {
      "parameters": {
        "jsCode": "/**\n * PROCESAR DATOS (Run Once for All Items)\n * Input: items normalizados (con campos: fecha, fecha_ts, tipo_solucion, etc.)\n * Output: Objeto anidado por segmento (tipo_solucion)\n */\n\nconst items = $input.all(); // cada item = { json: {...} }\n\n// --- Funciones de Fecha ---\nfunction endOfDay(d){ return new Date(d.getFullYear(), d.getMonth(), d.getDate(), 23, 59, 59, 999); }\nfunction startOfDay(d){ return new Date(d.getFullYear(), d.getMonth(), d.getDate(),  0,  0,  0,   0); }\nfunction startOfMonth(d){ return new Date(d.getFullYear(), d.getMonth(), 1); }\nfunction formatDate(d){ return d ? d.toLocaleDateString() : \"\"; }\nfunction toMidnight(d){ return new Date(d.getFullYear(), d.getMonth(), d.getDate()); }\n// --------------------------\n\n// --- Definición de rangos relativos a \"hoy\" ---\nconst now = new Date();\nconst todayStart = startOfDay(now);\nconst todayEnd   = endOfDay(now);\nconst monthStart = startOfMonth(now);\nconst monthEnd   = endOfDay(now);\n\nconst sevenDaysStart   = startOfDay(new Date(now.getFullYear(), now.getMonth(), now.getDate() - 6));\nconst thirtyDaysStart  = startOfDay(new Date(now.getFullYear(), now.getMonth(), now.getDate() - 29));\nconst sixtyDaysStart   = startOfDay(new Date(now.getFullYear(), now.getMonth(), now.getDate() - 59));\nconst rollingEnd       = todayEnd;\n// --------------------------------------------------\n\n// Normalizar input -> fecha, consumo y estado\nconst recs = items\n  .map(it => it.json || it)\n  .filter(r => r.fecha_ts || r.fecha)   // usa fecha_ts o fecha (string YYYY-MM-DD)\n  .map(r => {\n    // si hay fecha_ts la usamos, si no, construimos Date desde fecha\n    let d = r.fecha_ts\n      ? new Date(Number(r.fecha_ts))\n      : (r.fecha ? new Date(r.fecha) : null);\n\n    if (d) d = toMidnight(d);\n\n    const segmento   = r.tipo_solucion || \"(Sin segmento)\";\n    const consumo    = Number(r.consumo_kwh || 0);\n    const estadoNorm = (r.estado_lead || \"\").toString().trim().toLowerCase();\n\n    return {\n      ...r,\n      segmento,        // Hogares / Campos / Industrias\n      _date: d,        // fecha normalizada\n      _consumo: consumo,\n      _estado: estadoNorm // \"caliente\" / \"tibio\" / \"frio\" (si apareciera)\n    };\n  })\n  .filter(r => r._date);\n\n// --- Función de agregación para un rango de fechas ---\nfunction aggregate(rangeStart, rangeEnd, subset) {\n  // Filas detalladas para tablas\n  const rows = subset.map(r => ({\n    fecha: formatDate(r._date),\n    segmento: r.segmento,\n    tipo_producto: r.tipo_producto || \"\",\n    ubicacion: r.ubicacion || \"\",\n    categoria_tarifa: r.categoria_tarifa || \"\",\n    consumo_kwh: r._consumo,\n    estado_lead: r.estado_lead || \"\",\n    kit_sugerido: r.kit_sugerido || \"\",\n    nombre_cliente: r.nombre_cliente || \"\",\n    m2_disponibles: r.m2_disponibles || \"\",\n    tipo_instalacion: r.tipo_instalacion || \"\",\n    tipo_techo: r.tipo_techo || \"\",\n    telefono: r.telefono || \"\",\n    email: r.email || \"\",\n    horario_contacto: r.horario_contacto || \"\",\n    notas: r.notas || \"\",\n    mensaje_actual: r.mensaje_actual || \"\",\n    respuesta_ai: r.respuesta_ai || \"\"\n  }));\n\n  const totalLeads   = subset.length;\n  const totalConsumo = subset.reduce((a,b) => a + (b._consumo || 0), 0);\n  const avgConsumo   = totalLeads ? Number((totalConsumo / totalLeads).toFixed(1)) : 0;\n\n  let maxConsumo = 0;\n  let minConsumo = totalLeads ? subset[0]._consumo : 0;\n  for (const r of subset) {\n    if (r._consumo > maxConsumo) maxConsumo = r._consumo;\n    if (r._consumo < minConsumo) minConsumo = r._consumo;\n  }\n\n  const calientes = subset.filter(r => r._estado === \"caliente\").length;\n  const tibios    = subset.filter(r => r._estado === \"tibio\").length;\n  const frios     = totalLeads - calientes - tibios;\n\n  // Distribución por tipo_producto\n  const prodMap = new Map();\n  for (const r of subset) {\n    const k = r.tipo_producto || \"(Sin producto)\";\n    prodMap.set(k, (prodMap.get(k) || 0) + 1);\n  }\n  const byProduct = [...prodMap.entries()].map(([tipo_producto, value]) => ({ tipo_producto, value }));\n\n  // Leads por día\n  const dayMap = new Map();\n  for (const r of subset) {\n    const key = r._date.toISOString();\n    const it = dayMap.get(key) || { date: new Date(r._date), leads: 0, consumoTotal: 0 };\n    it.leads        += 1;\n    it.consumoTotal += r._consumo;\n    dayMap.set(key, it);\n  }\n  const byDay = [...dayMap.values()]\n    .sort((a,b) => a.date - b.date)\n    .map(x => ({\n      date: formatDate(x.date),\n      leads: x.leads,\n      consumo_promedio: Number((x.consumoTotal / x.leads).toFixed(1))\n    }));\n\n  // Leads por segmento\n  const segMap = new Map();\n  for (const r of subset) {\n    const k = r.segmento;\n    const it = segMap.get(k) || { segmento: k, leads: 0, consumoTotal: 0 };\n    it.leads        += 1;\n    it.consumoTotal += r._consumo;\n    segMap.set(k, it);\n  }\n  const bySegment = [...segMap.values()]\n    .map(x => ({\n      segmento: x.segmento,\n      leads: x.leads,\n      consumo_promedio: x.leads ? Number((x.consumoTotal / x.leads).toFixed(1)) : 0\n    }))\n    .sort((a,b) => b.leads - a.leads);\n\n  // --- KPI: Leads por ubicación / provincia ---\n  const locMap = new Map();\n  for (const r of subset) {\n    const key = r.ubicacion || \"(Sin ubicación)\";\n    const it = locMap.get(key) || { ubicacion: key, leads: 0 };\n    it.leads += 1;\n    locMap.set(key, it);\n  }\n\n  const byLocation = [...locMap.values()]\n    .sort((a, b) => b.leads - a.leads);\n\n  const top5Locations = byLocation.slice(0, 5);\n\n  // Configuración de gráfico Plotly: Top 5 ciudades/provincias por cantidad de leads\n  const plotTop5ByUbicacion = {\n    data: [\n      {\n        type: \"bar\",\n        x: top5Locations.map(l => l.ubicacion),\n        y: top5Locations.map(l => l.leads),\n        text: top5Locations.map(l => l.leads.toString()),\n        textposition: \"auto\",\n        hovertemplate: \"%{x}<br>Leads: %{y}<extra></extra>\"\n      }\n    ],\n    layout: {\n      title: \"Top 5 ubicaciones por cantidad de leads\",\n      xaxis: { title: \"Ubicación\" },\n      yaxis: { title: \"Cantidad de leads\" },\n      margin: { t: 40, l: 40, r: 10, b: 80 }\n    }\n  };\n\n  return {\n    label: rangeStart.toLocaleDateString(undefined, { month: 'long', year: 'numeric' }),\n    rangeStart: formatDate(rangeStart),\n    rangeEnd: formatDate(rangeEnd),\n    kpis: {\n      totalLeads,\n      totalConsumo,\n      avgConsumo,\n      maxConsumo,\n      minConsumo,\n      calientes,\n      tibios,\n      frios,\n      tasaCaliente: totalLeads ? Number(((calientes / totalLeads) * 100).toFixed(1)) : 0,\n      tasaTibio:    totalLeads ? Number(((tibios    / totalLeads) * 100).toFixed(1)) : 0,\n      tasaFrio:     totalLeads ? Number(((frios     / totalLeads) * 100).toFixed(1)) : 0,\n    },\n    byDay,\n    bySegment,\n    byProduct,\n    byLocation,                 // <-- KPI: leads por ubicación\n    plots: {\n      top5LeadsByUbicacion: plotTop5ByUbicacion // <-- Gráfico Plotly\n    },\n    rows,\n  };\n}\n// ---------------------------------\n\n// --- Lógica de bucle por \"segmento\" (tipo_solucion) ---\n\n// 1. Lista única de segmentos\nconst allSegments = ['Todos', ...new Set(recs.map(r => r.segmento))].sort();\n\n// 2. Objeto final\nconst finalData = {\n  meta: {\n    generatedAt: new Date().toISOString(),\n    allSegments\n  }\n};\n\n// 3. Iterar por cada segmento (incluyendo \"Todos\")\nfor (const segName of allSegments) {\n\n  const segRecs = (segName === 'Todos')\n    ? recs\n    : recs.filter(r => r.segmento === segName);\n\n  const monthlySubset        = segRecs.filter(r => r._date >= monthStart      && r._date <= monthEnd);\n  const dailySubset          = segRecs.filter(r => r._date >= todayStart      && r._date <= todayEnd);\n  const weeklySubset         = segRecs.filter(r => r._date >= sevenDaysStart  && r._date <= rollingEnd);\n  const rollingMonthlySubset = segRecs.filter(r => r._date >= thirtyDaysStart && r._date <= rollingEnd);\n  const rollingSixtySubset   = segRecs.filter(r => r._date >= sixtyDaysStart  && r._date <= rollingEnd);\n\n  const monthly        = aggregate(monthStart,      monthEnd,      monthlySubset);\n  const daily          = aggregate(todayStart,      todayEnd,      dailySubset);\n  const weekly         = aggregate(sevenDaysStart,  rollingEnd,    weeklySubset);\n  const rollingMonthly = aggregate(thirtyDaysStart, rollingEnd,    rollingMonthlySubset);\n  const rollingSixtyDay= aggregate(sixtyDaysStart,  rollingEnd,    rollingSixtySubset);\n\n  finalData[segName] = {\n    daily,\n    weekly,\n    rollingMonthly,\n    rollingSixtyDay,\n    monthly\n  };\n}\n\n// 4. Devolver estructura final\nreturn [{\n  json: finalData\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        176
      ],
      "id": "c06ed562-9fba-48e7-94d5-ca58999ca7c3",
      "name": "Consolidacion de las variables Diario / Mes1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * HTML (Run Once for All Items) – Dashboard Segmentos ALP Group\n * Input : [{ json: finalData }]\n * Output: [{ json: { html } }]\n */\n\nconst input = ($input.first() || {}).json || {};\n\n// --- SafePack para estructura de segmentos ---\nfunction safePack(p = {}) {\n  return {\n    label: p.label || \"\",\n    rangeStart: p.rangeStart || \"\",\n    rangeEnd: p.rangeEnd || \"\",\n    kpis: {\n      totalLeads: Number(p?.kpis?.totalLeads || 0),\n      totalConsumo: Number(p?.kpis?.totalConsumo || 0),\n      avgConsumo: Number(p?.kpis?.avgConsumo || 0),\n      maxConsumo: Number(p?.kpis?.maxConsumo || 0),\n      minConsumo: Number(p?.kpis?.minConsumo || 0),\n      calientes: Number(p?.kpis?.calientes || 0),\n      tibios: Number(p?.kpis?.tibios || 0),\n      frios: Number(p?.kpis?.frios || 0),\n      tasaCaliente: Number(p?.kpis?.tasaCaliente || 0),\n      tasaTibio: Number(p?.kpis?.tasaTibio || 0),\n      tasaFrio: Number(p?.kpis?.tasaFrio || 0),\n    },\n    byDay: Array.isArray(p.byDay) ? p.byDay : [],\n    bySegment: Array.isArray(p.bySegment) ? p.bySegment : [],\n    byProduct: Array.isArray(p.byProduct) ? p.byProduct : [],\n    byLocation: Array.isArray(p.byLocation) ? p.byLocation : [],\n    locationPlot: p.plots && p.plots.top5LeadsByUbicacion ? p.plots.top5LeadsByUbicacion : null,\n    rows: Array.isArray(p.rows) ? p.rows : [],\n  };\n}\n\n// Procesamos estructura de segmentos\nconst DATA = {\n  meta: input.meta || { allSegments: ['Todos'] }\n};\n\nfor (const segKey of (DATA.meta.allSegments || ['Todos'])) {\n  if (input[segKey]) {\n    DATA[segKey] = {\n      daily: safePack(input[segKey].daily),\n      weekly: safePack(input[segKey].weekly),\n      rollingMonthly: safePack(input[segKey].rollingMonthly),\n      rollingSixtyDay: safePack(input[segKey].rollingSixtyDay),\n      monthly: safePack(input[segKey].monthly),\n    };\n  }\n}\n\n// fallback si algo falló\nif (!DATA.Todos) {\n  DATA.Todos = {\n    daily: safePack(), weekly: safePack(),\n    rollingMonthly: safePack(), rollingSixtyDay: safePack(), monthly: safePack()\n  };\n}\n\nconst html = `<!doctype html>\n<html lang=\"es\">\n<head>\n<meta charset=\"utf-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n<title>Dashboard de Leads – ALP Group Argentina</title>\n<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n<style>\n  :root{--bg:#0a0a0a;--panel:#151515;--muted:#a3a3a3;--text:#e5e5e5;--border:#262626;--accent:#93c5fd;}\n  *{box-sizing:border-box}\n  body{margin:0;background:var(--bg);color:var(--text);font-family:Inter,system-ui,Arial,sans-serif}\n  .wrap{max-width:1200px;margin:0 auto;padding:28px;}\n  .grid{display:grid;gap:16px}\n  .grid-4{grid-template-columns:repeat(4,minmax(0,1fr))}\n  .grid-2{grid-template-columns:repeat(2,minmax(0,1fr))}\n  .card{background:var(--panel);border:1px solid var(--border);border-radius:16px;padding:16px}\n  .muted{color:var(--muted)}\n  .kpi{font-size:32px;font-weight:700;line-height:1.1;margin-top:4px}\n  .kpi-sub{font-size:14px;font-weight:500;color:var(--accent)}\n  .tabs{display:flex;gap:8px;border-bottom:1px solid var(--border);margin-bottom:16px;flex-wrap:wrap}\n  .tab{padding:10px 14px;border:1px solid var(--border);border-bottom:none;border-top-left-radius:10px;border-top-right-radius:10px;background:#0f0f0f;color:#d4d4d4;cursor:pointer;font-weight:600}\n  .tab.active{background:var(--panel);color:#fff;border-bottom:1px solid var(--panel)}\n  .panel{display:none}\n  .panel.active{display:block}\n  .plot{width:100%;height:260px}\n  .plot-gauge{width:100%;height:180px}\n  table{width:100%;border-collapse:collapse;font-size:13px}\n  thead{background:#1c1c1c;color:#cfcfcf}\n  th,td{padding:8px 10px;border-top:1px solid var(--border);vertical-align:top;text-align:left}\n  tr:hover{background:#1a1a1a}\n  .controls{display:flex;gap:8px;justify-content:space-between;align-items:center;margin-bottom:10px;flex-wrap:wrap}\n  .filter-bar{display:flex;gap:16px;flex-wrap:wrap}\n  .search,.segment-filter{\n    background:#0f0f0f;border:1px solid var(--border);color:var(--text);\n    border-radius:10px;padding:10px;flex-grow:1;min-width:160px;\n  }\n  .btn{background:#0f0f0f;border:1px solid var(--border);color:#fff;border-radius:10px;padding:6px 10px;cursor:pointer;font-size:12px}\n  .btn[disabled]{opacity:.5;cursor:not-allowed}\n  .table-wrap{overflow-x:auto;border:1px solid var(--border);border-radius:16px}\n  a{color:var(--accent);}\n</style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <header style=\"display:flex;justify-content:space-between;align-items:flex-end;gap:12px;margin-bottom:12px;flex-wrap:wrap;width:100%\">\n      <div>\n        <h1 style=\"margin:0;font-size:26px\">Dashboard de Leads – ALP Group Argentina</h1>\n        <div class=\"muted\" style=\"font-size:13px\">Generado: <span id=\"generatedAt\"></span></div>\n      </div>\n      <div class=\"filter-bar\" style=\"width:100%;max-width:650px;\">\n        <select id=\"segmentFilter\" class=\"segment-filter\"></select>\n        <input id=\"search\" class=\"search\" placeholder=\"Buscar (cliente, ubicación, notas…)\" />\n      </div>\n    </header>\n\n    <nav class=\"tabs\">\n      <button class=\"tab active\" data-target=\"#panel-daily\">Hoy</button>\n      <button class=\"tab\" data-target=\"#panel-weekly\">Últimos 7 días</button>\n      <button class=\"tab\" data-target=\"#panel-rolling-monthly\">Últimos 30 días</button>\n      <button class=\"tab\" data-target=\"#panel-rolling-sixty\">Últimos 60 días</button>\n      <button class=\"tab\" data-target=\"#panel-month\">Mes actual</button>\n    </nav>\n\n    <!-- ==== PANEL DIARIO ==== -->\n    <section id=\"panel-daily\" class=\"panel active\">\n      <div class=\"muted\" style=\"margin-bottom:8px\">Rango: <strong id=\"d_rangeStart\"></strong> → <strong id=\"d_rangeEnd\"></strong></div>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <div class=\"muted\">Total de leads</div>\n          <div class=\"kpi\" id=\"d_kpi_total\">—</div>\n          <div class=\"kpi-sub\">\n            Consumo total: <span id=\"d_kpi_totalConsumo\">—</span> kWh · Promedio: <span id=\"d_kpi_avgConsumo\">—</span> kWh\n          </div>\n        </div>\n        <div class=\"card\">\n          <div class=\"muted\">Estado de los leads</div>\n          <div class=\"kpi-sub\">Calientes / Tibios / Fríos</div>\n          <div class=\"kpi\" id=\"d_kpi_estado\">— / — / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-4\" style=\"margin-bottom:16px\">\n        <div class=\"card\"><div id=\"d_gauge_caliente\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"d_gauge_tibio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"d_gauge_frio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\">\n          <div class=\"muted\" style=\"margin-bottom:4px\">Consumo (kWh)</div>\n          <div class=\"kpi-sub\">Máx / Mín</div>\n          <div class=\"kpi\" id=\"d_kpi_consumo_extremos\">— / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por día y consumo promedio</h3>\n          <div id=\"d_line\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por segmento</h3>\n          <div id=\"d_bar_seg\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por tipo de producto</h3>\n          <div id=\"d_pie_product\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Top 5 ubicaciones por leads</h3>\n          <div id=\"d_bar_loc\" class=\"plot\"></div>\n        </div>\n      </section>\n      <section>\n        <div class=\"controls\">\n          <h2 style=\"margin:0\">Listado de leads (día)</h2>\n          <div>\n            <button id=\"d_prev\" class=\"btn\">Anterior</button>\n            <span class=\"muted\" id=\"d_pageInfo\" style=\"padding:0 8px\"></span>\n            <button id=\"d_next\" class=\"btn\">Siguiente</button>\n          </div>\n        </div>\n        <div class=\"table-wrap\">\n          <table id=\"d_tbl\">\n            <thead>\n              <tr>\n                <th>Fecha</th>\n                <th>Segmento</th>\n                <th>Tipo producto</th>\n                <th>Ubicación</th>\n                <th>Consumo (kWh)</th>\n                <th>Estado lead</th>\n                <th>Kit sugerido</th>\n                <th>Cliente</th>\n                <th>Teléfono</th>\n                <th>Email</th>\n                <th>Notas</th>\n              </tr>\n            </thead>\n            <tbody></tbody>\n          </table>\n        </div>\n      </section>\n    </section>\n\n    <!-- ==== PANEL 7 DÍAS ==== -->\n    <section id=\"panel-weekly\" class=\"panel\">\n      <div class=\"muted\" style=\"margin-bottom:8px\">Rango: <strong id=\"w_rangeStart\"></strong> → <strong id=\"w_rangeEnd\"></strong></div>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <div class=\"muted\">Total de leads</div>\n          <div class=\"kpi\" id=\"w_kpi_total\">—</div>\n          <div class=\"kpi-sub\">\n            Consumo total: <span id=\"w_kpi_totalConsumo\">—</span> kWh · Promedio: <span id=\"w_kpi_avgConsumo\">—</span> kWh\n          </div>\n        </div>\n        <div class=\"card\">\n          <div class=\"muted\">Estado de los leads</div>\n          <div class=\"kpi-sub\">Calientes / Tibios / Fríos</div>\n          <div class=\"kpi\" id=\"w_kpi_estado\">— / — / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-4\" style=\"margin-bottom:16px\">\n        <div class=\"card\"><div id=\"w_gauge_caliente\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"w_gauge_tibio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"w_gauge_frio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\">\n          <div class=\"muted\" style=\"margin-bottom:4px\">Consumo (kWh)</div>\n          <div class=\"kpi-sub\">Máx / Mín</div>\n          <div class=\"kpi\" id=\"w_kpi_consumo_extremos\">— / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por día y consumo promedio</h3>\n          <div id=\"w_line\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por segmento</h3>\n          <div id=\"w_bar_seg\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por tipo de producto</h3>\n          <div id=\"w_pie_product\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Top 5 ubicaciones por leads</h3>\n          <div id=\"w_bar_loc\" class=\"plot\"></div>\n        </div>\n      </section>\n      <section>\n        <div class=\"controls\">\n          <h2 style=\"margin:0\">Listado de leads (7 días)</h2>\n          <div>\n            <button id=\"w_prev\" class=\"btn\">Anterior</button>\n            <span class=\"muted\" id=\"w_pageInfo\" style=\"padding:0 8px\"></span>\n            <button id=\"w_next\" class=\"btn\">Siguiente</button>\n          </div>\n        </div>\n        <div class=\"table-wrap\">\n          <table id=\"w_tbl\">\n            <thead>\n              <tr>\n                <th>Fecha</th>\n                <th>Segmento</th>\n                <th>Tipo producto</th>\n                <th>Ubicación</th>\n                <th>Consumo (kWh)</th>\n                <th>Estado lead</th>\n                <th>Kit sugerido</th>\n                <th>Cliente</th>\n                <th>Teléfono</th>\n                <th>Email</th>\n                <th>Notas</th>\n              </tr>\n            </thead>\n            <tbody></tbody>\n          </table>\n        </div>\n      </section>\n    </section>\n\n    <!-- ==== PANEL 30 DÍAS ==== -->\n    <section id=\"panel-rolling-monthly\" class=\"panel\">\n      <div class=\"muted\" style=\"margin-bottom:8px\">Rango: <strong id=\"rm_rangeStart\"></strong> → <strong id=\"rm_rangeEnd\"></strong></div>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <div class=\"muted\">Total de leads</div>\n          <div class=\"kpi\" id=\"rm_kpi_total\">—</div>\n          <div class=\"kpi-sub\">\n            Consumo total: <span id=\"rm_kpi_totalConsumo\">—</span> kWh · Promedio: <span id=\"rm_kpi_avgConsumo\">—</span> kWh\n          </div>\n        </div>\n        <div class=\"card\">\n          <div class=\"muted\">Estado de los leads</div>\n          <div class=\"kpi-sub\">Calientes / Tibios / Fríos</div>\n          <div class=\"kpi\" id=\"rm_kpi_estado\">— / — / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-4\" style=\"margin-bottom:16px\">\n        <div class=\"card\"><div id=\"rm_gauge_caliente\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"rm_gauge_tibio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"rm_gauge_frio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\">\n          <div class=\"muted\" style=\"margin-bottom:4px\">Consumo (kWh)</div>\n          <div class=\"kpi-sub\">Máx / Mín</div>\n          <div class=\"kpi\" id=\"rm_kpi_consumo_extremos\">— / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por día y consumo promedio</h3>\n          <div id=\"rm_line\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por segmento</h3>\n          <div id=\"rm_bar_seg\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por tipo de producto</h3>\n          <div id=\"rm_pie_product\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Top 5 ubicaciones por leads</h3>\n          <div id=\"rm_bar_loc\" class=\"plot\"></div>\n        </div>\n      </section>\n      <section>\n        <div class=\"controls\">\n          <h2 style=\"margin:0\">Listado de leads (30 días)</h2>\n          <div>\n            <button id=\"rm_prev\" class=\"btn\">Anterior</button>\n            <span class=\"muted\" id=\"rm_pageInfo\" style=\"padding:0 8px\"></span>\n            <button id=\"rm_next\" class=\"btn\">Siguiente</button>\n          </div>\n        </div>\n        <div class=\"table-wrap\">\n          <table id=\"rm_tbl\">\n            <thead>\n              <tr>\n                <th>Fecha</th>\n                <th>Segmento</th>\n                <th>Tipo producto</th>\n                <th>Ubicación</th>\n                <th>Consumo (kWh)</th>\n                <th>Estado lead</th>\n                <th>Kit sugerido</th>\n                <th>Cliente</th>\n                <th>Teléfono</th>\n                <th>Email</th>\n                <th>Notas</th>\n              </tr>\n            </thead>\n            <tbody></tbody>\n          </table>\n        </div>\n      </section>\n    </section>\n\n    <!-- ==== PANEL 60 DÍAS ==== -->\n    <section id=\"panel-rolling-sixty\" class=\"panel\">\n      <div class=\"muted\" style=\"margin-bottom:8px\">Rango: <strong id=\"rs_rangeStart\"></strong> → <strong id=\"rs_rangeEnd\"></strong></div>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <div class=\"muted\">Total de leads</div>\n          <div class=\"kpi\" id=\"rs_kpi_total\">—</div>\n          <div class=\"kpi-sub\">\n            Consumo total: <span id=\"rs_kpi_totalConsumo\">—</span> kWh · Promedio: <span id=\"rs_kpi_avgConsumo\">—</span> kWh\n          </div>\n        </div>\n        <div class=\"card\">\n          <div class=\"muted\">Estado de los leads</div>\n          <div class=\"kpi-sub\">Calientes / Tibios / Fríos</div>\n          <div class=\"kpi\" id=\"rs_kpi_estado\">— / — / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-4\" style=\"margin-bottom:16px\">\n        <div class=\"card\"><div id=\"rs_gauge_caliente\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"rs_gauge_tibio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"rs_gauge_frio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\">\n          <div class=\"muted\" style=\"margin-bottom:4px\">Consumo (kWh)</div>\n          <div class=\"kpi-sub\">Máx / Mín</div>\n          <div class=\"kpi\" id=\"rs_kpi_consumo_extremos\">— / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por día y consumo promedio</h3>\n          <div id=\"rs_line\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por segmento</h3>\n          <div id=\"rs_bar_seg\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por tipo de producto</h3>\n          <div id=\"rs_pie_product\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Top 5 ubicaciones por leads</h3>\n          <div id=\"rs_bar_loc\" class=\"plot\"></div>\n        </div>\n      </section>\n      <section>\n        <div class=\"controls\">\n          <h2 style=\"margin:0\">Listado de leads (60 días)</h2>\n          <div>\n            <button id=\"rs_prev\" class=\"btn\">Anterior</button>\n            <span class=\"muted\" id=\"rs_pageInfo\" style=\"padding:0 8px\"></span>\n            <button id=\"rs_next\" class=\"btn\">Siguiente</button>\n          </div>\n        </div>\n        <div class=\"table-wrap\">\n          <table id=\"rs_tbl\">\n            <thead>\n              <tr>\n                <th>Fecha</th>\n                <th>Segmento</th>\n                <th>Tipo producto</th>\n                <th>Ubicación</th>\n                <th>Consumo (kWh)</th>\n                <th>Estado lead</th>\n                <th>Kit sugerido</th>\n                <th>Cliente</th>\n                <th>Teléfono</th>\n                <th>Email</th>\n                <th>Notas</th>\n              </tr>\n            </thead>\n            <tbody></tbody>\n          </table>\n        </div>\n      </section>\n    </section>\n\n    <!-- ==== PANEL MES ==== -->\n    <section id=\"panel-month\" class=\"panel\">\n      <div class=\"muted\" style=\"margin-bottom:8px\">Rango: <strong id=\"m_rangeStart\"></strong> → <strong id=\"m_rangeEnd\"></strong></div>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <div class=\"muted\">Total de leads</div>\n          <div class=\"kpi\" id=\"m_kpi_total\">—</div>\n          <div class=\"kpi-sub\">\n            Consumo total: <span id=\"m_kpi_totalConsumo\">—</span> kWh · Promedio: <span id=\"m_kpi_avgConsumo\">—</span> kWh\n          </div>\n        </div>\n        <div class=\"card\">\n          <div class=\"muted\">Estado de los leads</div>\n          <div class=\"kpi-sub\">Calientes / Tibios / Fríos</div>\n          <div class=\"kpi\" id=\"m_kpi_estado\">— / — / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-4\" style=\"margin-bottom:16px\">\n        <div class=\"card\"><div id=\"m_gauge_caliente\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"m_gauge_tibio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\"><div id=\"m_gauge_frio\" class=\"plot-gauge\"></div></div>\n        <div class=\"card\">\n          <div class=\"muted\" style=\"margin-bottom:4px\">Consumo (kWh)</div>\n          <div class=\"kpi-sub\">Máx / Mín</div>\n          <div class=\"kpi\" id=\"m_kpi_consumo_extremos\">— / —</div>\n        </div>\n      </section>\n      <section class=\"grid grid-2\" style=\"margin-bottom:16px\">\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por día y consumo promedio</h3>\n          <div id=\"m_line\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por segmento</h3>\n          <div id=\"m_bar_seg\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Leads por tipo de producto</h3>\n          <div id=\"m_pie_product\" class=\"plot\"></div>\n        </div>\n        <div class=\"card\">\n          <h3 style=\"margin:0 0 8px 0\">Top 5 ubicaciones por leads</h3>\n          <div id=\"m_bar_loc\" class=\"plot\"></div>\n        </div>\n      </section>\n      <section>\n        <div class=\"controls\">\n          <h2 style=\"margin:0\">Listado de leads (mes)</h2>\n          <div>\n            <button id=\"m_prev\" class=\"btn\">Anterior</button>\n            <span class=\"muted\" id=\"m_pageInfo\" style=\"padding:0 8px\"></span>\n            <button id=\"m_next\" class=\"btn\">Siguiente</button>\n          </div>\n        </div>\n        <div class=\"table-wrap\">\n          <table id=\"m_tbl\">\n            <thead>\n              <tr>\n                <th>Fecha</th>\n                <th>Segmento</th>\n                <th>Tipo producto</th>\n                <th>Ubicación</th>\n                <th>Consumo (kWh)</th>\n                <th>Estado lead</th>\n                <th>Kit sugerido</th>\n                <th>Cliente</th>\n                <th>Teléfono</th>\n                <th>Email</th>\n                <th>Notas</th>\n              </tr>\n            </thead>\n            <tbody></tbody>\n          </table>\n        </div>\n      </section>\n    </section>\n  </div>\n\n  <script src=\"https://cdn.plot.ly/plotly-2.35.2.min.js\"></script>\n  <script>\n    const DATA = ${JSON.stringify(DATA)};\n    const THEME_BG = '#151515';\n    const THEME_TEXT = '#e5e5e5';\n    const THEME_GRID = '#2a2a2a';\n    const THEME_ACCENT = '#93c5fd';\n\n    document.getElementById('generatedAt').textContent =\n      new Date(DATA.meta?.generatedAt || Date.now()).toLocaleString();\n\n    function setRanges(prefix, pack) {\n      if (document.getElementById(prefix + '_rangeStart')) {\n        document.getElementById(prefix + '_rangeStart').textContent = pack.rangeStart || '';\n        document.getElementById(prefix + '_rangeEnd').textContent   = pack.rangeEnd   || '';\n      }\n    }\n\n    function setMainKPIs(prefix, pack) {\n      const k = pack.kpis || {};\n      if (document.getElementById(prefix + '_kpi_total')) {\n        document.getElementById(prefix + '_kpi_total').textContent = k.totalLeads || 0;\n        if (document.getElementById(prefix + '_kpi_totalConsumo')) {\n          document.getElementById(prefix + '_kpi_totalConsumo').textContent = k.totalConsumo || 0;\n        }\n        if (document.getElementById(prefix + '_kpi_avgConsumo')) {\n          document.getElementById(prefix + '_kpi_avgConsumo').textContent = k.avgConsumo || 0;\n        }\n        if (document.getElementById(prefix + '_kpi_estado')) {\n          document.getElementById(prefix + '_kpi_estado').textContent =\n            (k.calientes || 0) + ' / ' + (k.tibios || 0) + ' / ' + (k.frios || 0);\n        }\n        if (document.getElementById(prefix + '_kpi_consumo_extremos')) {\n          document.getElementById(prefix + '_kpi_consumo_extremos').textContent =\n            (k.maxConsumo || 0) + ' / ' + (k.minConsumo || 0);\n        }\n      }\n    }\n\n    const baseLayout = (title='') => ({\n      title,\n      paper_bgcolor: THEME_BG,\n      plot_bgcolor: THEME_BG,\n      font: { color: THEME_TEXT },\n      margin: { l:40, r:20, t:40, b:40 },\n      xaxis: { gridcolor: THEME_GRID, zerolinecolor: THEME_GRID },\n      yaxis: { gridcolor: THEME_GRID, zerolinecolor: THEME_GRID },\n      legend: { orientation:'h', y:-0.2 },\n      hovermode: 'closest'\n    });\n\n    const config = { responsive:true, displaylogo:false, modeBarButtonsToRemove:['select2d','lasso2d'] };\n\n    function renderGauge(containerId, value, total, title) {\n      const el = document.getElementById(containerId);\n      if (!el) return;\n      const maxRange = total > 0 ? total : 1;\n      const layout = { ...baseLayout(), margin:{t:40,b:10,l:30,r:30}, height:180 };\n      const data = [{\n        type:'indicator', mode:'gauge+number', value: value || 0,\n        title:{ text:title, font:{size:14,color:'#a3a3a3'} },\n        number:{ font:{size:30,color:THEME_TEXT} },\n        gauge:{\n          axis:{ range:[0,maxRange], visible:false, tickwidth:0 },\n          bar:{ color:THEME_ACCENT, thickness:1 },\n          bgcolor:THEME_GRID, bordercolor:THEME_GRID, borderwidth:0\n        }\n      }];\n      Plotly.newPlot(el, data, layout, config);\n    }\n\n    function setGauges(prefix, pack) {\n      const k = pack.kpis || {};\n      const total = k.totalLeads || 0;\n      renderGauge(prefix + '_gauge_caliente', k.calientes, total, 'Calientes');\n      renderGauge(prefix + '_gauge_tibio',    k.tibios,    total, 'Tibios');\n      renderGauge(prefix + '_gauge_frio',     k.frios,     total, 'Fríos');\n    }\n\n    function renderLine(containerId, pack) {\n      const el = document.getElementById(containerId);\n      if (!el || !pack.byDay) return;\n      const dates = pack.byDay.map(d => d.date);\n      const leads = pack.byDay.map(d => d.leads);\n      const prom  = pack.byDay.map(d => d.consumo_promedio);\n      const tr1 = { x:dates, y:leads, type:'scatter', mode:'lines+markers', name:'Leads', marker:{ color:THEME_ACCENT } };\n      const tr2 = { x:dates, y:prom,  type:'scatter', mode:'lines+markers', name:'Consumo prom. (kWh)', yaxis:'y2', marker:{ color:'#f59e0b' } };\n      const layout = {\n        ...baseLayout(),\n        yaxis:{ title:'Leads', gridcolor:THEME_GRID, zerolinecolor:THEME_GRID },\n        yaxis2:{ title:'Consumo prom. (kWh)', overlaying:'y', side:'right', gridcolor:THEME_GRID, zerolinecolor:THEME_GRID }\n      };\n      Plotly.newPlot(el, [tr1,tr2], layout, config);\n    }\n\n    function renderBarSegments(containerId, pack, prefix) {\n      const el = document.getElementById(containerId);\n      if (!el || !pack.bySegment) return;\n      const labels = pack.bySegment.map(d => d.segmento);\n      const leads  = pack.bySegment.map(d => d.leads);\n      Plotly.newPlot(el, [{\n        x:labels, y:leads, type:'bar', name:'Leads', marker:{color:THEME_ACCENT}\n      }], baseLayout(''), config);\n\n      // click en barra => filtra tabla por segmento\n      el.on('plotly_click', (data) => {\n        if (data.points && data.points.length > 0) {\n          const segName = data.points[0].x;\n          if (tableControllers[prefix]) {\n            document.getElementById('search').value = segName;\n            tableControllers[prefix].filter(segName);\n          }\n        }\n      });\n    }\n\n    function renderProducts(containerId, pack) {\n      const el = document.getElementById(containerId);\n      if (!el || !pack.byProduct) return;\n      const labels = pack.byProduct.map(d => d.tipo_producto);\n      const values = pack.byProduct.map(d => d.value);\n      Plotly.newPlot(el, [{\n        labels, values, type:'pie', textinfo:'label+percent'\n      }], { ...baseLayout(''), legend:{orientation:'h',y:-0.1} }, config);\n    }\n\n    // --- NUEVO: gráfico Top 5 ubicaciones ---\n    function renderLocations(containerId, pack) {\n      const el = document.getElementById(containerId);\n      if (!el) return;\n\n      // Si viene el config prearmado desde el nodo anterior\n      if (pack.locationPlot && Array.isArray(pack.locationPlot.data)) {\n        const layout = {\n          ...baseLayout(pack.locationPlot.layout?.title || ''),\n          ...pack.locationPlot.layout\n        };\n        Plotly.newPlot(el, pack.locationPlot.data, layout, config);\n        return;\n      }\n\n      // Fallback: construirlo desde byLocation\n      if (!pack.byLocation || !pack.byLocation.length) {\n        el.innerHTML = '<div class=\"muted\">Sin datos de ubicación</div>';\n        return;\n      }\n\n      const top5 = pack.byLocation.slice(0, 5);\n      const x = top5.map(l => l.ubicacion);\n      const y = top5.map(l => l.leads);\n\n      const data = [{\n        type: 'bar',\n        x,\n        y,\n        text: y.map(String),\n        textposition: 'auto',\n        hovertemplate: '%{x}<br>Leads: %{y}<extra></extra>'\n      }];\n\n      Plotly.newPlot(el, data, baseLayout('Top 5 ubicaciones por leads'), config);\n    }\n\n    // -------- Tablas & filtros --------\n    const tableControllers = {};\n    const $search = document.getElementById('search');\n\n    function TableCtl(prefix, rows) {\n      const pageSize = 10;\n      let page = 1;\n      let allRows = rows.slice();\n      let filtered = rows.slice();\n      const $tbody = document.querySelector('#' + prefix + '_tbl tbody');\n      if (!$tbody) { console.error('No tbody for ' + prefix); return; }\n\n      function render() {\n        const pageCount = Math.max(1, Math.ceil(filtered.length / pageSize));\n        if (page > pageCount) page = pageCount;\n        const slice = filtered.slice((page-1)*pageSize, page*pageSize);\n\n        $tbody.innerHTML = slice.map(r => \\`\n          <tr>\n            <td>\\${r.fecha || ''}</td>\n            <td>\\${r.segmento || '—'}</td>\n            <td>\\${r.tipo_producto || '—'}</td>\n            <td>\\${r.ubicacion || '—'}</td>\n            <td>\\${r.consumo_kwh ?? ''}</td>\n            <td>\\${r.estado_lead || '—'}</td>\n            <td>\\${r.kit_sugerido || '—'}</td>\n            <td>\\${r.nombre_cliente || '—'}</td>\n            <td>\\${r.telefono || '—'}</td>\n            <td>\\${r.email || '—'}</td>\n            <td style=\"white-space:pre-wrap;max-width:420px\">\\${(r.notas || '').replace(/</g,'&lt;')}</td>\n          </tr>\n        \\`).join('');\n\n        document.getElementById(prefix + '_pageInfo').textContent =\n          \\`Página \\${page} de \\${pageCount} — \\${filtered.length} resultados\\`;\n\n        document.getElementById(prefix + '_prev').disabled = page <= 1;\n        document.getElementById(prefix + '_next').disabled = page >= pageCount;\n      }\n\n      function filter(searchTerm) {\n        const s = (searchTerm || '').toLowerCase();\n        filtered = !s ? allRows.slice() : allRows.filter(r => (\n          \\`\\${r.segmento} \\${r.tipo_producto} \\${r.ubicacion} \\${r.nombre_cliente} \\${r.telefono} \\${r.email} \\${r.estado_lead} \\${r.kit_sugerido} \\${r.notas} \\${r.mensaje_actual} \\${r.respuesta_ai}\\`\n        ).toLowerCase().includes(s));\n        page = 1;\n        render();\n      }\n\n      document.getElementById(prefix + '_prev').addEventListener('click', () => { page = Math.max(1, page-1); render(); });\n      document.getElementById(prefix + '_next').addEventListener('click', () => { page = page+1; render(); });\n\n      tableControllers[prefix] = { filter, render, allRows };\n      render();\n    }\n\n    function renderAll(prefix, pack) {\n      setRanges(prefix, pack);\n      setMainKPIs(prefix, pack);\n      setGauges(prefix, pack);\n      renderLine(prefix + '_line', pack);\n      renderBarSegments(prefix + '_bar_seg', pack, prefix);\n      renderProducts(prefix + '_pie_product', pack);\n      renderLocations(prefix + '_bar_loc', pack);\n      TableCtl(prefix, pack.rows);\n    }\n\n    function renderDashboardForSegment(segKey) {\n      $search.value = '';\n      const d = DATA[segKey];\n      if (!d) { console.error('No data for segment ' + segKey); return; }\n      renderAll('d',  d.daily);\n      renderAll('w',  d.weekly);\n      renderAll('rm', d.rollingMonthly);\n      renderAll('rs', d.rollingSixtyDay);\n      renderAll('m',  d.monthly);\n    }\n\n    function populateSegmentFilter() {\n      const $select = document.getElementById('segmentFilter');\n      if (!$select || !DATA.meta || !DATA.meta.allSegments) return;\n      $select.innerHTML = DATA.meta.allSegments\n        .map(seg => \\`<option value=\"\\${seg}\">\\${seg}</option>\\`)\n        .join('');\n    }\n\n    // Tabs\n    document.querySelectorAll('.tab').forEach(btn => {\n      btn.addEventListener('click', () => {\n        document.querySelectorAll('.tab').forEach(b => b.classList.remove('active'));\n        document.querySelectorAll('.panel').forEach(p => p.classList.remove('active'));\n        btn.classList.add('active');\n        const sel = btn.getAttribute('data-target');\n        document.querySelector(sel).classList.add('active');\n        setTimeout(() => window.dispatchEvent(new Event('resize')), 0);\n\n        const s = $search.value.trim().toLowerCase();\n        let panelId = sel.replace('#panel-', '');\n        let prefix;\n        if (panelId === 'daily') prefix = 'd';\n        else if (panelId === 'weekly') prefix = 'w';\n        else if (panelId === 'rolling-monthly') prefix = 'rm';\n        else if (panelId === 'rolling-sixty') prefix = 'rs';\n        else if (panelId === 'month') prefix = 'm';\n        if (prefix && tableControllers[prefix]) tableControllers[prefix].filter(s);\n      });\n    });\n\n    // Búsqueda global\n    $search.addEventListener('input', (e) => {\n      const s = e.target.value.trim().toLowerCase();\n      const activeTab = document.querySelector('.tab.active');\n      if (!activeTab) return;\n      const targetPanelId = activeTab.getAttribute('data-target');\n      let panelId = targetPanelId.replace('#panel-', '');\n      let prefix;\n      if (panelId === 'daily') prefix = 'd';\n      else if (panelId === 'weekly') prefix = 'w';\n      else if (panelId === 'rolling-monthly') prefix = 'rm';\n      else if (panelId === 'rolling-sixty') prefix = 'rs';\n      else if (panelId === 'month') prefix = 'm';\n      if (prefix && tableControllers[prefix]) tableControllers[prefix].filter(s);\n    });\n\n    // Selector de segmento\n    document.getElementById('segmentFilter').addEventListener('change', (e) => {\n      renderDashboardForSegment(e.target.value);\n    });\n\n    // Init\n    populateSegmentFilter();\n    renderDashboardForSegment('Todos');\n  </script>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        176
      ],
      "id": "1f1138ec-cca2-4b6d-8fb7-58256d5eb4b5",
      "name": "Creacion HTML1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Normalizacion de datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizacion de datos": {
      "main": [
        [
          {
            "node": "Consolidacion de las variables Diario / Mes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidacion de las variables Diario / Mes": {
      "main": [
        [
          {
            "node": "Creacion HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creacion HTML": {
      "main": [
        []
      ]
    },
    "Consolidacion de las variables Diario / Mes1": {
      "main": [
        [
          {
            "node": "Creacion HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creacion HTML1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "444470cd-e61c-4718-8af8-f72529f71cf7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "edef5432557ad20fe5eff2e69a5e4abbcc8562eb8d06f8f76753f9f8c1a2b984"
  },
  "id": "m45Gy2eefy4yRzXT",
  "tags": []
}